{% extends "layout/default.twig" %}

{% block content %}
    <div class="alert alert-danger">Whoops... {{ error }}</div>

    {% if showException and exception %}
        <div>{{ exception.getMessage }}</div>
        <pre>{{ exception.getTraceAsString }}</pre>
    {% endif %}

{% endblock %}