{% extends "layout/default.twig" %}

{% block content %}
<div class="jumbotron">
    <h1>
        {% if isLoggedIn() %}
            <a href="{{ route('user', {'id': user.id}) }}">Hola {{ user.name }}</a>
        {% else %}
            Skeleton
        {% endif %}
    </h1>
</div>

{% endblock %}