{% extends "layout/default.twig" %}

{% block content %}
<div class="jumbotron">
    <h1>
        {% if user is not empty %}
            Hola {{ user.name }}
        {% else %}
            Skeleton
        {% endif %}
    </h1>
</div>
{% endblock %}